# Ignore specified files
129P2_OlaHsd.mgp.v5.indels.dbSNP142.normed.vcf
129P2_100000lines.vcf

# Ignore zip files
*.zip

# Ignore csv files
*.csv

# Ignore txt files
*.txt

# Ignore excel files
*.xlsx

# Ignore dbs
*.db